@import url(./reset.css);

:root {
    --font-size-link: 0.9rem;
    --font-size-title: 2.7rem;
    --font-size-subtitle: 1.7rem;
    --font-primary-color: #3a3a3a;
    --font-secondary-color: #676767;
    --font-tertiary-color: #1a1a1a;;
    --font-btn-color: white;
    --bg-button-1: #03B106;
    --bg-button-2: #517794;

}

/* Reusable classes */

.btn_green {
    color: var(--font-btn-color);
    background: var(--bg-button-1);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.btn_blue {
    color: var(--font-btn-color);
    background: var(--bg-button-2);
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

h3{
    color: var(--font-tertiary-color);
    font-size: 2rem;
    font-weight: 400;
}

h4{
    color: var(--font-tertiary-color);
    font-size: 13px;
}

p{
    color: var(--font-tertiary-color);
    font-size: 1rem;
}
/* Menu */

 header {
    width: 100%;
    height: 525px;
    padding: 0 70px;
    background: url(../images/Banner.jpg) no-repeat;
    background-size: cover;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
} 

.menu {
    width: 100%;
    height: 80px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item {
    font-size: var(--font-size-link);
    margin: 0 14px;
}

.menu__link {
    font-weight: bold;
    color: var(--font-primary-color);
    text-decoration: none;
}

.menu__link:hover{
    color: var(--font-secondary-color);
}

.menu__search {
    border: none;
    align-items: center;
    background-color: transparent;
}

.home {
    margin-top: 60px;
}

.home__title {
    color: var(--font-primary-color);
    font-size: var(--font-size-title);
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 8px;
}

.home__subtitle {
    color: var(--font-secondary-color);
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    margin-bottom: 8px;
}

.btn__click {
    height: 50px;
    width: 170px;
    border: none;
}

/* Main */

main{
   margin: 25px 65px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

/* Section About */


.about__subtitle{
    text-align: center;
}


.about__card{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 25px;
    
}

.about__info{
    margin-top: -8px;
    text-align: left;
    line-height: 2.1;
}

.btn__mais{
    margin-top: 20px;
    height: 45px;
    width: 160px;
}

/* Section Portfolio */

#portfolio{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio__subtitle{
    text-align: center;
}

.portfolio__galery{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px 55px;
}

.btn__projects{
    margin-top: 30px;
    height: 55px;
    width: 220px;
    font-size: 14px;
   
}

/* Section Depoimentos */

#depositions{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.depositions__subtitle{
    text-align: center;
}

.depositions__container{
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

.card-container{
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.card-items{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.card-image{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    background: #c0c0c0;
    width: 80px;
    height: 80px;
    margin-top: 5px;
}

.stars::before{
    content: "★★★★★";
    color: #f7df03;
    font-size: 18px;
    
}

.card-text{
    margin-top: 25px;
}

.card-text p{
    color: #111111;
    font-size: 10px;
    font-weight: 500;
    line-height: 2;
    margin-top: 8px;
}

.btn_slider{
    background: transparent;
    border: none;
    font-size: 32px;
    font-weight: 600;
    color: var(--font-primary-color);
}

/* Section Contact */

#contact{
    /* border: 1px solid; */
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__form{
    margin: 50px 0;
}

.personal-data, .send-message{
    display: flex;
    gap: 35px;
    border: none;
}

.personal-data input{
    height: 45px;
    width: 275px;
    border: 1px solid black;
    padding-left: 10px;
}

.send-message{
    margin-top: 15px;
}

.send-message textarea{
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 5px;
}

.send-message input{
    height: 45px;
    width: 380px;
    border: 1px solid black;
    padding-left: 10px;
}

.send{
    width: 380px;
    margin-top: 30px;
    display: flex;
    gap: 35px;
}

.send small{
    color: #111111;
    font-size: 9px;
    font-weight: 600;
    line-height: 2.5;
}

.send small a{
    text-decoration: none;
    color: rgb(0, 129, 214);
}

.send input{
    border: 1px solid #007000;
    width: 290px;
}

.personal-data input::placeholder{
    color: #111111;
    font-size: 14px;
}

.send-message textarea::placeholder{
    color: #111111;
    font-size: 14px;
}

.send-message:nth-child(2) input::placeholder{
    color: #111111;
    font-size: 14px;
}

/* Footer */

footer{
    background: #303030;
    width: 100%;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sing-up{
    border: 3px solid #fff;
    border-right: 2px solid #fff;
    color: #fff;
    width: 540px;
    height: 310px;
    padding: 15px;
    padding-right: 20px;
}

.sing-up h3{
    color: #fff;
    font-size: 19px;
    font-weight: 600;
}

.sing-up-input{
    height: 45px;
    margin-top: 25px;
    display: flex;

}

.sing-up-input input{
    width: 310px;
    padding-left: 10px;
    border: none;
}

.btn{
    width: 187px;
    border: 1px solid #007000;
    font-weight: 500;
}

.footer-portfolio{
    margin-top: 50px;
}

.link-container{
    display: flex;
    gap: 20px;
}

.link-card{
    background-color: #3b3b3ba8;
    height: 105px;
    width: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-card img{
    width: 100%;
    height: 83%;
    object-fit: cover;
}

.link{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.informations{
    color: #fff;
    border: 3px solid #fff;
    border-left: none;
    width: 600px;
    height: 310px;
    padding: 15px 45px ;
}

.informations_content{
    display: flex;
    justify-content: space-between;
}

.menu_informations h3{
    color: #fff;
    font-size: 19px;
    font-weight: 600;
}

.sobre h3{
    color: #fff;
    font-size: 19px;
    font-weight: 600;
}

.informations_content ul{
    margin: 0;
    list-style: none;
    display: inline;
}

.informations_content ul li{
    margin-bottom: 5px;
}

.informations_content li a{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.informations img{
    display: block;
    margin: 50px auto;
}